.image-matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.Menuimg{
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Menub {
    text-transform: none;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




