.image-matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.Menuimg{
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Menub {
    background-color: rgba(180, 32, 211, 0.96);
    color: rgba(180, 32, 211, 0.96);
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.menu-items {
    color: #fdeaea;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-decoration: none;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgb(255, 0, 98);
}




